/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   :root {
    --main-color: #e9910d;
    --main-dark-color: #5e3c0a;
    --secondary-color: #0D65E9;
    --secondary-dark1-color: #0c143a;
    --secondary-dark2-color: #001652;
    --secondary-dark3-color: #01308d;
    --tertiary-color: #0de991;
    --red: #e9390d;
    --blue: #0D65E9;
    --purple: #750194;
    --bg-image: url('assets/backgrounds/blue2-pattern.jpg');
    background: var(--bg-image) var(--secondary-dark2-color);
    --main-bg-image: url('assets/backgrounds/OSK8PA02.jpg');
    background-size: 50%;
    background-position: fixed;
    background-size: contain;
    --header-image: url('https://media1.tenor.com/m/VJqYwn0A6P4AAAAC/exploding-cat-cat-blowing-up.gif');
  }
  
    @font-face {
      font-family: AddStandardBitMap;
      src: url('/fonts/ADDSBP__.TTF');
    }
    @font-face {
      font-family: PixelOperator8;
      src: url('fonts/PixelOperator8.ttf');
    }
    @font-face {
      font-family: PixelOperator8-Bold;
      src: url('fonts/PixelOperator-Bold.ttf');
      font-weight: bold;
    }
     * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
      padding: 10px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }


  
  body {
    /* background-color: white; */
    color: black;
    font-family: 'PixelOperator8', 'Courier New Bold', Courier, monospace;
    font-size: large;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  body h1 {
    color: var(--secondary-dark3-color);
    transition: color 1s;
  }

  body h1:hover {
    color: var(--red);
  }
  
  .flex {
    display: flex;
    border-left:var(--secondary-dark1-color);
    border-left-style: dashed;
    border-right-style: dashed;
  }

  main {
    background-color: var(--main-color);
    background-image: var(--main-bg-image);
    flex: 1;
    padding: 20px;
    border:var(--secondary-color);
    border-style: dashed;
  }

  main a {
    color: var(--secondary-dark2-color);
  }
  
  main a:hover {
    color: var(--secondary-dark3-color);
  }

  aside {
    background-color: var(--main-dark-color);
    width: 250px;
    padding: 20px;
    font-size: smaller;
    /* this makes the sidebar text slightly smaller */
  }

  footer {
    background-color: var(--main-dark-color);
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: white;
    /* this centers the footer text */
    border:var(--secondary-dark1-color);
    border-style: dashed;
  }
  
  .emphasis {
    color: var(--secondary-dark2-color);
    font-weight: bold;
  }


  
  .buttons {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
  }

  .statusContainer {
    overflow-y: scroll; 
    width:200px; 
    height: 200px; 
    background-image: var(--main-bg-image); 
    border:var(--secondary-color); 
    border-style: dashed; 
    margin-top: 20px;
  }

  .project-section {
    max-width: 400px;
    margin-left: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .flex {
      flex-wrap: wrap;
  }
    aside {
      width: 100%;
  }
  }


  
  